.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.App-footer {
  background-color: #282c34;
  text-align: center;
  margin: 0 auto;
  color: white;
}

#creator_links a {
  color: white;
  text-decoration: underline;
}
